/*Image in the homepage main body*/
.image-container {
    position: relative;
    text-align: center;
  }
  
  .image-container img {
    width: 100%;
    height: auto;
  }
  
  /*show now button in the image*/
  .shop-now-button {
    display: flex;
    align-items: center;
    justify-content: center;
    white-space: nowrap;
    position: absolute;
    bottom: 50px;
    right: 50px;
    padding: 20px 20px;
    background-color: rgba(51, 51, 51, 0.4);
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    height: 80px;
    width: 250px;
    font-size: 50px;
    line-height: 80px;
  }

  /*text in the image*/
  .image-text {
    position: absolute;
    top: 25px;
    left: 20px;
    right: 0;
    font-size: 40px;
    font-weight: bold;
    color: #333;
  }

  /*Featured products function*/
  main {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
  
  img {
    width: 150px;
    height: 150px;
}

  main h2 {
    font-size: 30px;
    text-align: center;
    width: 100%;
  }
  
  main ul {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items:center
  }

  
