
body{
    background-image: url('login_bg.jpg');
    background-position: center;
}
.container{
    width:100%;
    height: 100vh;
    background-image: none;
    background-position: center;
    background-size:cover;
    position: center;
}

.form-box {
    width: 20%;
    max-width: 30%;
    position: absolute;
    top: -25%;
    left: 50%;
    transform: translate(-50%,50%);
    background: transparent;
    padding: 50px 60px 70px;
    text-align: center;
}

.form-box-h1{ 
    width: 100%;
    height: 4px;
    color: #3c00a0;
    border: #3c00a0;
    border-radius: 3px;
    margin-bottom: 50px;
    background: #3c00a0;
    text-align: center;
    bottom: 50px;
    left: 0%;
    
}

.input-field{
    background: #eaeaea;
    margin: 15px 0;
    border-radius: 3px;
    display: flex;
    align-items: center;
}
input{
    width: 100%;
    background: transparent;
    border: 0;
    outline: 0;
    padding: 18px 15px;
}

.input-field i{
    margin-left: 15px;
    color: #3c00a0;
}

form p{
    text-align: left;
    color: white;
    font-size: 13px;
}
form p a{
    text-decoration: none;
    color: #3c00a0;
}
.button-field{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.button-field button{
    flex-basis: 48%;
    background: #3c00a0;
    color: #fff;
    height: 40px;
    border-radius: 20px;
    border: 0;
    outline: 0;
    cursor: pointer;
    transition: background 1s;
}