*{
    margin: 0;
    padding: 0;

}

.main{
    width: 100%;
    background: linear-gradient(to top, rgba(0,0,0,0.5)50%, rgba(0,0,0,0.5)50%),url(HomePage1.jpg);
    background-position: center;
    background-size: cover;
    
    height: 100vh;
}
.navbar{
    width: 1200px;
    height: 75px;
    margin: auto;
}
.icon{
    width: 200px;
    float: left;
    height: 70px;
}
.logo{
    color: #0073ff;
    font-size: 20px;
    font-weight: bold;
    padding-left: 20px;
    float: left;
    padding-top: 10px; 
}

.menu{
    width: 400px;
    float: left;
    height: 70px;
}

ul{
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
}

ul li{
    list-style: none;
    display: inline;
    margin-left: 62px;
    margin-top: 27px;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
    color: #fff;
}

ul li:hover{
    text-decoration: none;
    color: #fff;
    background-color: #fff;
    font-family: Arial;
    font-weight: bold;
    transition: 0.4s ease-in-out;
}