<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8">
    <title>ProRunner</title>
    <link rel="stylesheet" href="../static/css/style.css" th:href="@{/css/style.css}"/>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.14.0/css/all.css" integrity="sha384-HzLeBuhoNPvSl5KYnjx0BT+WB0QEEqLprO+NBkkk5gbc67FTaL7XIGa2w1L0Xbgc" crossorigin="anonymous">
  </head>
  <body>
    <header>
      <a href="homepage.html" class="home-icon">ProRunner</a>
      <div class="header-products">
        <ul>
          <li><a href="#">Men</a>
            <ul class="men-dropdown">
              <li><a href="#">T-Shirts</a></li>
              <li><a href="#">Hoodies</a></li>
              <li><a href="#">Joggers</a></li>
              <li><a href="#">Shorts</a></li>
              <li><a href="#">Shoes</a></li>
            </ul>
          </li>
          <li><a href="#">Women</a>
            <ul class="women-dropdown">
                <li><a href="#">T-Shirts</a></li>
                <li><a href="#">Hoodies</a></li>
                <li><a href="#">Joggers</a></li>
                <li><a href="#">Shorts</a></li>
                <li><a href="#">Shoes</a></li>
            </ul>
          </li>
          <li><a href="#">Accessories</a>
            <ul class="accessories-dropdown">
              <li><a href="#">Water Bottles</a></li>
              <li><a href="#">Bags</a></li>
              <li><a href="#">Caps</a></li>
            </ul>
          </li>
        </ul>
      </div>
      <form action="#">
        <input type="text" placeholder="Search">
      </form>
      <div class="header-right">
        <a href="#" class="header-right-icon wishlist">
            <i class="fa fa-heart"></i>
        </a>
        <div class="header-right-icon account">
            <i class="fas fa-user-circle"></i>
          <div class="account-dropdown">
            <a href="account.html"><i class="fas fa-user-circle"></i>   My Account</a>
            <a href="#"><i class="fas fa-truck"></i>   My Orders</a>
          </div>
        </div>
        <a href="#" class="header-right-icon cart">
            <i class="fas fa-shopping-cart"></i>
        </a>
      </div>
    </header>
    <main>
        <div class="signup">
        <h1>Create Account</h1>
          <form th:action="@{/add-product}" id="create-account-form" method="post" autocomplete="off" th:object="${product}">
            
        <div class="signup-form-group">
            <label for="product-name">Product-Name:</label>
            <input type="text" id="product-name" name="product-name" th:field="*{name}" required>
          </div>
          <div class="signup-form-group">
            <label for="category-name">Category:</label>
            <input type="text" id="category-name" name="category-name" th:field="*{category}" required>
          </div>
          <div class="signup-form-group">
            <label for="category-type">Category-Type:</label>
            <input type="text" id="category-type" name="category-type" th:field="*{categoryType}" required>
          </div>
          <div class="signup-form-group">
            <label for="price">Price:</label>
            <input type="text" id="price" name="price" th:field="*{price}" required>
          </div>
            <div class="signup-form-group">
              <label for="description">Description:</label>
              <input type="text" id="description" name="description" th:field="*{description}" required>
            </div>
            <div class="signup-form-group">
              <label for="file">Confirm Password:</label>
              <input type="file" id="file" name="product-image" th:field="*{image}" required>
            </div>
            <br /> 
            <button type="submit" class="signup-button">Add Product</button>
          </form>
        </div>
    </main>
    <footer>
  </div>
    <div class="information-left">
      <h3>About Us</h3>
    </div>
    <div class="information-center">
      <h3>Contact Us</h3>
    </div>
    <div class="information-right">
      <h3>Legal</h3>
    </div>
</footer>
  </body>
</html>
