/* Header styles */
.homepage-header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 10px;
  background-color: #ffffff6c;
  color: #000000;
}


/* Header Products Column*/

.header-products ul li ul {
  display: none;
}

.header-products ul li:hover > ul {
  display: block;
}


.header-products ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.header-products li.dropdown {
  position: relative;
}

.header-products a {
  font-size: 17px;
  white-space: nowrap;
  display: block;
  padding: 10px;
  text-decoration: none;
  color: #000000;
  margin-left: 30%;
}

.header-products li.dropdown .dropdown-menu {
  position: absolute;
  top: 0;
  left: 70%;
  transform: translate(-50%, 0);
  background-color: #333;
  color: #000000;
  display: none;
  text-align: flex-start;
}

.header-products li.dropdown:hover .dropdown-menu {
  display: block;
}


.header-products li.dropdown .dropdown-menu li {
  float: none;
  width: 140px;
}


/* Search bar styles */
form {
  width: 25%;
  margin-left: 0%;
}

form input[type="text"] {
  width: 70%;
  padding: 10px;
  font-size: 17px;
}

/* Header Right */
.header-right {
  display: flex;
}

.header-right-icon {
  font-size: 25px;
  color: #000000;
  text-decoration: none;
  margin-left: 28px;
}

.header-right-icon.account {
  position: relative;
}

.account-dropdown {
  z-index: 1;
  position: absolute;
  top:100%;
  left: 50%;
  transform: translate(-50%, 0);
  background-color: #fffbfb;
  color: #fff;
  font-size: 17px;
  display: none;
  text-align: left;
}

.account-dropdown a {
  white-space: nowrap;
  display: inline-block;
  padding: 10px;
  text-decoration: none;
  color: #000000;
}

.header-right-icon.account:hover .account-dropdown {
  display: block;
}
  
  
  /* Information styles(in the bottom of every page) */
  footer {
    bottom: 0;
    display: flex;
    justify-content: space-between;
    width: 97%;
    background-color: #333;
    color: #fff;
    padding: 20px;
  }


  body {
    display: flex;
    flex-direction: column;
    min-height: 60vh;
  }
  
  .information-left,
  .information-center,
  .information-right {
    width: 33.33%;
    display: flex;
    justify-content: center;
  }


/*shop now button in the image*/
.shop-now-button {
  display: flex;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
  position: absolute;
  bottom: 50px;
  right: 50px;
  padding: 20px 20px;
  background-color: rgba(0, 0, 0, 0.4);
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  height: 80px;
  width: 250px;
  font-size: 50px;
  line-height: 80px;
}

/*text in the image*/
.overlay {
  position: absolute;
  top: 170px;
  left: 180px;
  right: 700;
  font-size: 50px;
  font-weight: bold;
  color: #ffffff;
}

.contentinfo{
  color: rgb(112, 112, 112);
  padding:20px 100px  ;
  text-align: center;
  font-size: 24px;
}

/*Product card information*/
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  margin: auto;
  text-align: center;
  font-family: arial;
  margin: 0px 10px 30px 50px;
}

.price {
  color: rgb(1, 1, 1);
  font-size: 22px;
}

.card button {
  border: none;
  outline: 0;
  padding: 12px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}

.card button:hover {
  opacity: 0.7;
}

/*Featured products function*/
main {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

img {
  width: 170px;
  height: 170px;
}

main h2 {
  font-size: 30px;
  text-align: center;
  width: 100%;
}

main ul {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items:center
}

  
